.footer__link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    color: #ffff;
    transition: opacity 200ms ease-in-out;
}

.footer__link:hover {
    opacity: 80%;
    cursor: pointer;
}

@media (max-width: 767px) {
    .footer__link  {
        font-size: 24px;
        line-height: 1;
        }
}