.place__website {
    grid-area: website;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    justify-content: end;
}

@media (max-width: 767px) {
    .place__website {
        margin-left: 16px;
    }
}